{% extends 'layout.html' %}

{% block body %}
   <h1>Add Bank</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form action="" method="POST">
        <div class="form-group">
            {{ render_field(form.name, class_="form-control") }}
        </div>

          <div class="form-group">
            {{ render_field(form.location, class_="form-control") }}
        </div>

        <p><input class="btn btn-success" type="submit" value="submit"></p>
    </form>
{% endblock %}